.welcome-banner {
    background-color: #F48C06;
    padding: 20px;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
    width: 165%;
    animation: fadeIn 1s ease-in;
}
  
.schedule-cardds {
    display: flex;
    width: 200%;
    gap: 22px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
  
.cardd {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    width: 180px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
  
.cardd:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.cardd-content {
    display: flex;
    flex-direction: column;
}
  
.cardd-content span {
    font-weight: bold;
    font-size: 16px;
}
  
.cardd-content small {
    font-size: 14px;
    color: #777;
}

.monitoring-box {
    background-color: #ffffff; 
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-bottom: 80px;
}

.promo-box {
    background-color: #F48C06; 
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-bottom: 80px;
}

#promo-form label {
    font-weight: bold;
}

#promo-form input, #promo-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.promo-box:hover,
.monitoring-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

#student-progress {
    list-style-type: none;
    padding: 0;
}

#student-progress li {
    margin-bottom: 10px;
}
  
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}