{% extends 'base_dashboard_teacher.html' %}
{% load static %}
{% block head_block %}
{% comment %} <link rel="stylesheet" href="{% static 'css/teachers_dashboard.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/my_course.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
{% block body_block %}
<section>

  <div class="py-3" style="background:#FFBD73">
    <div class="container nav-jejak">
      <a class="text-black" href="#" style="font-size: 25px;"> Dashboard /</a>
      <a class="text-black" href="{% url 'pilihPaket' %}" style="font-size: 25px;"> Search Courses /</a>
      <a class="text-black" href="{% url 'pilihProduk' products.category.slug %}" style="font-size: 25px;"> {{ products.category.name }} /</a>
      <a class="text-black" href="{% url 'detailProduk' products.category.slug products.slug%}" style="font-size: 25px;"> {{ products.name }}</a>
    </div>
  </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cardd shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{ products.product_image }}" class="w-100" alt="img">
                </div>
                <div class="col-md-8">
                  <h2 class="mb-0">
                    {{ products.name }}
                    {% if products.trending %}
                      <label style="font-size: 16px;" class="float-end badge bg-danger trending_tag">
                    {% endif %}
                  </h2>
                  <br>
                  <label class="me-3">Original Price : <span style="text-decoration: line-through;">Rp {{ products.ori_price | stringformat:'d' }}</span></label>
                  <label class="fw-bold">Selling Price : Rp {{ products.sell_price | stringformat:'d' }}</label>
                  <p class="mt-3">
                    {{ products.small_desc }}
                  </p>
                  <br>
                  <div class="row mt-2">
                    <div class="col-md-9">
                      <button type="button" value="{{ products.id }}" class="btn btn-primary" id="add-cart" > Tambahkan ke Keranjang</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <h3>Description</h3>
                <p class="mt-3">
                    {{ products.desc }}
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // check if button pressed
      $(document).on('click', '#add-cart', function(e){
          e.preventDefault();
          $.ajax({
              type: 'POST',
              url: '{% url 'cart_add' %}',
              data: {
                  product_id: $('#add-cart').val(),
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  action: 'post'
              },
              success: function(json){
                  // console.log(json)
                  document.getElementById("cart_quantity").
                  textContent = json.qty
              },
  
              error: function(xhr, errmsg, err){
  
              }
          });
      });
    </script>
{% endblock %}