  {% extends 'base_dashboard_teacher.html' %}
  {% load static %}
  {% block head_block %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/teachers_dashboard.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/my_course.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  {% endblock %}
  {% block body_block %}
  <section>

    <div class="py-3" style="background:#FFBD73">
      <div class="container nav-jejak">
        <a class="text-black" href="#" style="font-size: 25px;"> Dashboard /</a>
        <a class="text-black" href="#" style="font-size: 25px;"> Search Courses</a>
      </div>
    </div>
    
    <div class="container">
      <h2 class="moto">Tingkatkan Keterampilan Mengajarmu!</h2>
      <div class="row">
        <div class="col-md-12">
          <h1>List Ketersediaan Courses</h1>
          <div class="row">
            {% for item in category %}
            <div class="col-md-4">
              <div class="card">
                <a href="{% url 'pilihProduk' item.slug %}" style="text-decoration: none; color: #F48C06;">
                  <div class="card-body">
                    <div class="category-image">
                      <img src="{{ item.image.url }}" alt="Category Image">
                    </div><br>
                    <h4 class="text-center"> {{ item.name }}</h4>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <br>
    </div>
{% endblock %}